* {
  background-color: #eafaf1;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginfrm {
  width: 450px;
  margin-left: 700px;
  margin-top: 30px;
}

#login-naslov {
  margin-right: 75px;
  margin-top: 250px;
}

#unos-kod-input {

  width: 180px;
  margin-left: 870px;
}